PORT=8080

POSTGRES_DB=tech_challenge
POSTGRES_USER=tech_challenge
POSTGRES_PASSWORD=tech_challenge
POSTGRES_PORT=5432

DATABASE_URL=postgres://tech_challenge:tech_challenge@postgres:5432/tech_challenge
